<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9am</td>        <!-- time    -->
        <td>Workshop overview and introductions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row  4  -->
        <td>09:20</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html"></a>Navigating Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 6   -->
        <td>10:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row  7  -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row  8  -->
        <td>11:35</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html"></a>Loops</td>        <!-- content -->
      </tr>
       <tr>               <!-- row  9  -->
        <td>11:55</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
        <tr>               <!-- row  10  -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      <tr>               <!-- row    -->
        <td></td>        <!-- time    -->
        <td><a href=""></a></td>        <!-- content -->
      </tr>
       </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row    -->
        <td>09:00</td>        <!-- time    -->
        <td>Welcome back</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:05</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/01-basics/index.html"></a>Automated Version Control</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:10</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html">Setting Up Git</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html"></a>Creating a Repository</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:25</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html"></a>Tracking Changes</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:45</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>10:10</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html"></a>Ignoring Things</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>10:15</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/07-github/index.html"></a>Remotes in GitHub</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>10:45</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/08-collab/index.html">Collaborating</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>11:25</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/09-conflict/index.html"></a>Conflicts</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>11:40</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/10-open/index.html">Misc</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>11:55</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>12:00</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
        <tr>               <!-- row    -->
        <td>01:00</td>        <!-- time    -->
        <td><a href="">Python (contd.)</a></td>        <!-- content -->
      </tr>
        <tr>               <!-- row    -->
        <td></td>        <!-- time    -->
        <td><a href=""></a></td>        <!-- content -->
      </tr>
        <tr>               <!-- row    -->
        <td></td>        <!-- time    -->
        <td><a href=""></a></td>        <!-- content -->
      </tr>
        <tr>               <!-- row    -->
        <td></td>        <!-- time    -->
        <td><a href=""></a></td>        <!-- content -->
      </tr>
        <tr>               <!-- row    -->
        <td></td>        <!-- time    -->
        <td><a href=""></a></td>        <!-- content -->
      </tr>
        <tr>               <!-- row    -->
        <td></td>        <!-- time    -->
        <td><a href=""></a></td>        <!-- content -->
      </tr>
        <tr>               <!-- row    -->
        <td>03:55</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
