<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9 AM</td>        <!-- time    -->
        <td>Workshop overview and introductions</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>09:15 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/01-intro/index.html">Introducing the Shell</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row  4  -->
        <td>09:20 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/02-filedir/index.html"></a>Navigating Files and Directories</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 5   -->
        <td>10:00 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/03-create/index.html">Working With Files and Directories</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 6   -->
        <td>10:45 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row  7  -->
        <td>11:00 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/04-pipefilter/index.html">Pipes and Filters</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row  8  -->
        <td>11:35 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/shell-novice/05-loop/index.html"></a>Loops</td>        <!-- content -->
      </tr>
       <tr>               <!-- row  9  -->
        <td>11:55 AM</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
        <tr>               <!-- row  10  -->
        <td>12:00 PM</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      
      <tr> <td>01:00 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/setup.html" target="_blank">Check Environment and Setup</a></td> </tr>
      <tr> <td>01:10 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html" target="_blank">1. Running and Quitting</a></td> </tr>
      <tr> <td>01:25 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/02-variables/index.html" target="_blank">2. Variables and Assignment</a></td> </tr>
      <tr> <td>01:45 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/03-types-conversion/index.html" target="_blank">3. Data Types and Type Conversion</a></td> </tr>
      <tr> <td>02:05 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html" target="_blank">4. Built-in Functions and Help</a></td> </tr>
      <tr> <td>02:30 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/05-coffee/index.html" target="_blank">5. Reflection exercise</a></td> </tr>
      <tr> <td>02:45 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/06-libraries/index.html" target="_blank">6. Libraries</a></td> </tr>
      <tr> <td>03:05 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular/index.html" target="_blank">7. Reading Tabular Data into DataFrames</a></td> </tr>
      <tr> <td>03:25 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/08-data-frames/index.html" target="_blank">8. Pandas DataFrames</a></td> </tr>      
       <tr>               <!-- row  9  -->
        <td>03:55 PM</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
        <tr>               <!-- row  10  -->
        <td>04:00 PM</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>      
       </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row    -->
        <td>09:00 AM</td>        <!-- time    -->
        <td>Welcome back</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:05 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/01-basics/index.html"></a>Automated Version Control</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:10 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/02-setup/index.html">Setting Up Git</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:15 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/03-create/index.html"></a>Creating a Repository</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:25 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/04-changes/index.html"></a>Tracking Changes</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>09:45 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/05-history/index.html">Exploring History</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>10:10 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/06-ignore/index.html"></a>Ignoring Things</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>10:15 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/07-github/index.html"></a>Remotes in GitHub</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>10:45 AM</td>        <!-- time    -->
        <td>Break</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>11:00 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/08-collab/index.html">Collaborating</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>11:25 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/09-conflict/index.html"></a>Conflicts</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>11:40 AM</td>        <!-- time    -->
        <td><a href="http://swcarpentry.github.io/git-novice/10-open/index.html">Misc</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>11:55 AM</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
       <tr>               <!-- row    -->
        <td>12:00 PM</td>        <!-- time    -->
        <td>Lunch</td>        <!-- content -->
      </tr>
      
      <tr> <td>01:00 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html" target="_blank">9. Plotting</a></td> </tr>
      <tr> <td>01:25 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html" target="_blank">10. Lists</a></td> </tr>
      <tr> <td>01:45 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/12-for-loops/index.html" target="_blank">11. For Loops</a></td> </tr>
      <tr> <td>02:05 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/13-conditionals/index.html" target="_blank">12. Conditionals</a></td> </tr>
      <tr> <td>02:30 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets/index.html" target="_blank">13. Looping Over Data Sets</a></td> </tr>
      <tr> <td>02:40 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/15-coffee/index.html" target="_blank">14. Reflection exercise</a></td> </tr>
      <tr> <td>02:55 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/16-writing-functions/index.html" target="_blank">15. Writing Functions</a></td> </tr>
      <tr> <td>03:20 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/17-scope/index.html" target="_blank">16. Variable Scope</a></td> </tr>
      <tr> <td>03:40 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/18-style/index.html" target="_blank">17. Programming Style</a></td> </tr>
      <tr> <td>03:50 PM</td>  <td><a href="http://swcarpentry.github.io/python-novice-gapminder/19-wrap/index.html" target="_blank">18. Wrap-Up</a></td> </tr>
      
        <tr>               <!-- row    -->
        <td>03:55 PM</td>        <!-- time    -->
        <td>Wrap-up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>End</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
